<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.jingnuo.quanmb.quanmb">

    <!-- SD卡读取权限，用户写入离线定位数据 -->
    <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS" />
    <uses-permission android:name="android.permission.INTERNET" /> <!-- 申明网络权限 -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="com.android.launcher.permission.INSTALL_SHORTCUT" />
    <uses-permission android:name="com.android.launcher.permission.UNINSTALL_SHORTCUT" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <!-- 这个权限用于进行网络定位 -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <!-- 这个权限用于访问GPS定位 -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <!-- 用于访问wifi网络信息，wifi信息会用于进行网络定位 -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <!-- 获取运营商信息，用于支持提供运营商信息相关的接口 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!-- 这个权限用于获取wifi的获取权限，wifi信息会用来进行网络定位 -->
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <!-- 用于读取手机当前的状态 -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <!-- 写入扩展存储，向扩展卡写入数据，用于写入离线定位数据 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <!-- SD卡读取权限，用户写入离线定位数据 -->
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.RECEIVE_USER_PRESENT" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.VIMOUNT_UNMOUNT_FILESYSTEMSBRATE" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS"
        tools:ignore="ProtectedPermissions" />


    <application
        android:name="com.jingnuo.quanmb.App"
        android:allowBackup="true"
        android:icon="@mipmap/logo"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="com.baidu.lbsapi.API_KEY"
            android:value="pbtu2nPYB1zCaaoOB3xy6hLGKCM19OKB" />
        <!-- 百度地图用到的service组件 -->
        <service
            android:name="com.baidu.location.f"
            android:enabled="true"
            android:process=":remote" />
        <service android:name="cn.jpush.android.service.PushService"
            android:process=":multiprocess"
            tools:node="replace" >

        </service>
        <receiver
            android:name="com.jingnuo.quanmb.broadcastrReceiver.JpushBroadcastRecricer"
            android:enabled="true">
            <intent-filter>
                <action android:name="cn.jpush.android.intent.REGISTRATION" />
                <action android:name="cn.jpush.android.intent.MESSAGE_RECEIVED" />
                <action android:name="cn.jpush.android.intent.NOTIFICATION_RECEIVED" />
                <action android:name="cn.jpush.android.intent.NOTIFICATION_OPENED" />
                <action android:name="cn.jpush.android.intent.NOTIFICATION_CLICK_ACTION" />
                <action android:name="cn.jpush.android.intent.CONNECTION" />
                <category android:name="com.jingnuo.quanmb" />
            </intent-filter>
        </receiver>
        <activity
            android:name="com.jingnuo.quanmb.activity.MainActivity"
            android:launchMode="singleTask" />
        <activity android:name="com.jingnuo.quanmb.activity.LoginActivity" />
        <activity android:name="com.jingnuo.quanmb.activity.RegisterActivity" />
        <activity android:name="com.jingnuo.quanmb.activity.FindPasswordActivity" />
        <activity android:name="com.jingnuo.quanmb.activity.AuthenticationActivity" />
        <activity android:name="com.jingnuo.quanmb.activity.DatailAddressActivity" />
        <activity android:name="com.jingnuo.quanmb.activity.AddAddressActivity" />
        <activity android:name="com.jingnuo.quanmb.activity.IssueTaskActivity" />
        <activity android:name="com.jingnuo.quanmb.activity.SettingActivity" />
        <activity android:name="com.jingnuo.quanmb.activity.ChangepasswordActivity" />
        <activity android:name="com.jingnuo.quanmb.activity.ChangephoneNumberActivity" />
        <activity android:name="com.jingnuo.quanmb.activity.ChangephoneNumberNextActivity" />
        <activity android:name="com.jingnuo.quanmb.activity.SetPasswordActivity" />
        <activity android:name="com.jingnuo.quanmb.activity.PersonInfoActivity" />
        <activity android:name="com.jingnuo.quanmb.activity.TaskDetailsActivity" />
        <activity android:name="com.jingnuo.quanmb.activity.ShopInActivity" />
        <activity android:name="com.jingnuo.quanmb.activity.LaunchActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.jingnuo.quanmb.activity.ShopInNextActivity" />
        <activity android:name="com.jingnuo.quanmb.activity.BargainActivity" />
        <activity android:name="com.jingnuo.quanmb.activity.ShophallActivity" />
        <activity android:name="com.jingnuo.quanmb.activity.SkillDetailActivity" />
        <activity android:name="com.jingnuo.quanmb.activity.LocationMapActivity" />
        <activity android:name="com.jingnuo.quanmb.activity.IssueSkillActivity" />
        <activity android:name="com.jingnuo.quanmb.activity.ShopCenterActivity" />
        <activity android:name="com.jingnuo.quanmb.activity.SetNicknameActivity" />
        <activity android:name="com.jingnuo.quanmb.activity.chooseImageActivity" />
        <activity android:name="com.jingnuo.quanmb.activity.IssueTaskNextActivity" />
        <activity android:name="com.jingnuo.quanmb.activity.HelperOrderActivity" />
        <activity android:name="com.jingnuo.quanmb.activity.SystemMessageActivity" />
        <activity android:name="com.jingnuo.quanmb.activity.BarginmessageListActivity" />
        <activity android:name="com.jingnuo.quanmb.activity.MyOrderActivity" />
        <activity android:name="com.jingnuo.quanmb.activity.MytaskDetailActivity" />
        <activity android:name="com.jingnuo.quanmb.activity.ThreeRegisterActivity" />
        <activity android:name="com.jingnuo.quanmb.activity.ThreeLoginBindActivity" />
        <activity android:name="com.jingnuo.quanmb.activity.MyTodoActivity" />
        <activity android:name="com.jingnuo.quanmb.activity.MyAuthenticationActivity" />
        <activity android:name="com.jingnuo.quanmb.activity.MySkillActivity" />
        <activity android:name="com.jingnuo.quanmb.activity.DealActivity" />
        <activity android:name="com.jingnuo.quanmb.activity.PayActivity"></activity>
    </application>

</manifest>